
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-color: #083b4c;
    max-width: 1170px;
    margin: 0 auto;
}


h1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    margin: 1rem;
    background-color: #1389b2;
    width: 100px;
    height: 100px;
}


/* multipli di 5 e 3 (fizzBuzz) */
.red {
    background-color: red;
}

/* multipli di 3 (fizz) */
.green {
    background-color: green;
}

/* multipli di 5 (Buzz) */
.yellow {
    background-color: yellow;
}